<!DOCTYPE html>
<html>
    <head>
        <title>Keep Your Tamagotchi Alive</title>
    </head>
    <body>
        <h1>Make a Tamagotchi and watch it slowly die</h1>
        <form action="/update" method="post">
            <label>Name your Tamagotchi</label>
            <input type="text" name="name">
            <button type="submit" name="button">Create</button>
        </form>
    </body>
</html>
