<!DOCTYPE html>
<html>
    <head>
        <title>Death of the Tamagotchi</title>
    </head>
    <body>
        {% for tam in new_tam %}
        <h3>Womp womp, {{tam.getName}} just died because you didn't care about it enough...</h3>
        {% endfor %}
    </body>
</html>
