<!DOCTYPE html>
<html>
    <head>
        <title>Death of the Tamagotchi</title>
    </head>
    <body>
        {% for tam in new_tam %}
        <p>Womp womp, Name: {{tam.getName}} just died because you didn't care about it enough...</p>
    </body>
</html>
